<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>These Are the 'Most 2020' Phrases Learned on Duolingo This Year</h1>
      <h6>BY ALEXANDRA SCHONFELD ON 12/15/20 AT 3:36 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn6.webp" class="img-fluid" alt="...">
      <p>This year has been anything but a typical year. In a year of unexpected twists and turns many of us 
        have turned to a new hobby to occupy our time —and mind. From bread baking to binge-watching, to finally 
        reading that book that has been sitting on your bookshelf for months—with so much extra time on our hands, 
        there has been more time to learn something new.</p>
    </div>
  </div>
</body>

