<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>How to Prepare for Extreme Winter Weather in 30 Steps</h1>
      <h6>BY ANNALISE MANTZ, STACKER NEWS ON 12/16/20 AT 7:43 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn5.webp" class="img-fluid" alt="...">
      <p>Winter looks very different depending on whether you're above or below the Mason-Dixon Line. 
        Below that imaginary line, which runs along on the northern edges of West Virginia and Maryland, winter 
        weather might mean highs in the 50s and snow on rare occasions. Above, you're talking about black ice, 
        gusting winds, inches upon inches of snow, and road and school closures (particularly for those living in 
        mountainous regions or along the Snowbelt of the Great Lakes). If you're not used to it, your first real winter 
        can be disconcerting. How do you prepare? Do you need an ice scraper (and what does it look like)? How are snow
         boots different from regular winter boots?</p>
    </div>
  </div>
</body>

