<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>'I've Eaten Chick-Fil-A for 135 Days Straight'</h1>
      <h6>MATT STOUDT ON 12/18/20 AT 5:03 AM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn1.webp" class="img-fluid" alt="...">
      <p>Ilive in Nazareth, Pennsylvania which is about 1hr and 30 minutes each way between New York City 
        and Philadelphia. I'm married with a one-year-old daughter, and my wife and I have lived here our entire lives.</p>
    </div>
  </div>
</body>

