<body>
    <div class="container pt-4" id="daily_news">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h5 class="col-catagory">FEATURED STORIES</h5>
                <div class="card py-2">
                    <img src="img/title1.webp" class="card-img-top \" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Could South China Sea Conflict Heat Up Before Joe Biden Presidency?</h5>
                        <p class="card-text">"We still believe that the risk of conflict is rising," the South China Sea 
                          Probing Initiative said in a statement sent to Newsweek.</p>
                        <a href="featured-1" class="btn btn-primary stretched-link">readmore...</a>
                    </div>
                </div>  
            </div>
            <div class="col-sm-12 col-lg-8">
                <h5 class="col-catagory">TOP STORIES</h5>
                <div class="card py-4">
                    <img src="img/top-story.webp" class="card-img-top \" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Experts Increasingly See Hack on US as Attack, Opening Way for Retaliation</h5>
                        <p class="card-text">"Accessing the system was unauthorized and illegal, changing the code with 
                          malicious intent was an attack," a cybersecurity expert familiar with the situation told Newsweek.</p>
                        <a href="top-story" class="btn btn-primary stretched-link">readmore...</a>
                    </div>
                </div>  
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="card py-2">
                    <img src="img/title2.webp" class="card-img-top \" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">FDA Approves Moderna COVID Vaccine One Week After Pfizer's</h5>
                        <p class="card-text">More than 5.9 million doses of Moderna's vaccine are expected to be 
                          delivered to governors for statewide allocation.</p>
                          <a href="featured-2" class="btn btn-primary stretched-link">readmore...</a>
                    </div>
                </div>  
            </div>
            <div class="col-lg-8">
                <div class="col-sm-none col-lg-12">
                    <h5 class="col-catagory">MY TURN</h5>
                    <div class="col-sm-none col-lg-12">
                        <div class="row">
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn1.webp" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">'I've Eaten Chick-Fil-A for 135 Days Straight'</h5>
                                        <a href="my-turn-1" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn2.webp" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">'I Saved a Homeless Woman From a Fire in San Antonio'</h5>
                                        <a href="my-turn-2" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn3.png" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">'I'm 13. I've Raised Thousands To Help Homeless Kids This Christmas'</h5>
                                        <a href="my-turn-3" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn4.webp" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">The End of Snow Days? This School District Says No. "Go Build a Snowman"</h5>
                                        <a href="my-turn-4" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn5.webp" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">How to Prepare for a Snowstorm in 30 Steps</h5>
                                        <a href="my-turn-5" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-sm-none col-lg-4">
                                <div class="card py-4">
                                    <img src="img/my-turn6.webp" class="card-img-top \" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">These Are the 'Most 2020' Phrases Learned on Duolingo This Year</h5>
                                        <a href="my-turn-6" class="btn btn-primary stretched-link">readmore...</a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div> 
            </div>        
        </div>
    </div>
</body>
