<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>FDA Approves Moderna COVID Vaccine One Week After Pfizer's</h1>
      <h6>BY JEFFERY MARTIN ON 12/18/20 AT 7:44 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/title2.webp" class="img-fluid" alt="...">
      <p>The U.S. Food and Drug Administration (FDA) officially approved an emergency use authorization (EUA) 
        on Friday for a COVID-19 vaccine manufactured by Moderna, making it the second vaccine to receive such 
        approval in one week.</p>
    </div>
  </div>
</body>

