<header class="container p-0">
       

  <div class="sidenav" id="mySidenav">
      <form action="">
          <input class="search-bar" type="search" placeholder="Search">
      </form>
      <a class="dropdown-item hv-black" href="#">
          <span>U.S.</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>World</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Business</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Tech & Science</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Culture</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Newsgeek</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Sports</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Health</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>The Debate</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Vantage</span>
          <div class="red"></div>
      </a>
      <a class="dropdown-item hv-black" href="#">
          <span>Weather</span>
          <div class="red"></div>
      </a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Trending</h6>
      <a class="dropdown-item hv-orange" href="#">Donald Trump</a>
      <a class="dropdown-item hv-orange" href="#">Joe Biden</a>
      <a class="dropdown-item hv-orange" href="#">2020 Election</a>
      <a class="dropdown-item hv-orange" href="#">Stimulus Package</a>
      <a class="dropdown-item hv-orange" href="#">Coronavirus</a>
      <a class="dropdown-item hv-orange" href="#">Counties That Count</a>
  </div>
  <div class="sidenav-2" id="mySearchIcon">
      <i class="fa fa-search"></i>
  </div>


  <div id="main-nav">
      <div id="first-main-nav">
          <p id="date"></p>
          <h1 id="headline">Newsweek</h1>
          <ul class="nav-btn-container main-nav-lower">
              <li class="nav-btn">
                  <a href="" id="login-btn">LOGIN</a>
              </li>
              <li class="nav-btn">
                  <div id="sub-btn">
                      <a href="">SUBSCRIBE<i class="arrow right"></i></a>
                  </div>
              </li>
              <div class="header-decoration">
                  <i class="fa fa-search" id="main-fa-search"></i>
              </div>
          </ul>
      </div>
      <div class="second-main-nav">
          <div class="news-nav">
              <ul class="nav nav-fill d-flex justify-content-start" id="news-nav-content">
                  <ul class="nav nav-pills nav-fill" id="news-nav-content2">
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">U.S.</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">World</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Business</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Tech & Science</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Culture</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Newsgeek</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Sports</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Health</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">The Debate</a>
                      </li>
                      <li class="nav-item main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Vantage</a>
                      </li>
                      <li class="nav-item except_border main-nav-item">
                          <a class="nav-link px-0 py-0" href="#">Weather</a>
                      </li>
                  </ul>
                  <form class="nav-item d-inline border-0" action="" id="main_search">
                      <input id="main-search-bar" type="search" placeholder="Search" class="container-fluid"
                          onfocus="navBarHide()" onblur="navhBarShow()">
                  </form>
              </ul>
          </div>
          <nav class="nav trending-nav">
              <span class="navbar-brand h1 pt-0 pl-4 text-body">TRENDING</span>
              <a class="nav-link pt-0" href="#">DONALD TRUMP</a>
              <a class="nav-link pt-0" href="#">JOE BIDEN</a>
              <a class="nav-link pt-0" href="#">2020 ELECTION</a>
              <a class="nav-link pt-0" href="#">STIMULUS PACKAGE</a>
              <a class="nav-link pt-0" href="#">CORONAVIRUS</a>
              <a class="nav-link pt-0" href="#">COUNTIES THAT COUNT</a>
          </nav>
      </div>
  </div>
</header>