<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>Could South China Sea Conflict Heat Up Before Joe Biden Presidency?</h1>
      <h6>BY TOM O'CONNOR ON 12/18/20 AT 5:36 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/title1.webp" class="img-fluid" alt="...">
      <p>AChinese think tank specializing in the security situation around the disputed waters 
        of the South China Sea has warned of a growing risk of conflict with the United States 
        just as the country is weeks away from inaugurating a new president.</p>
    </div>
  </div>
</body>

