<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>Experts Increasingly View SolarWinds Breach as Attack on US, Opening Way for Retaliation</h1>
      <h6>BY TOM O'CONNOR AND NAVEED JAMALI ON 12/18/20 AT 7:44 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/top-story.webp" class="img-fluid" alt="...">
      <p>he unprecedented hack that appears to have first hit software company SolarWinds before spreading 
        to some of the highest levels of the U.S. government is testing the definition of what constitutes 
        cyber espionage and what the Pentagon defines as an actual attack on the nation.</p>
    </div>
  </div>
</body>

