<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>The End of Snow Days? This School District Says No. 'Go Build a Snowman'</h1>
      <h6>BY ALEXANDRA SCHONFELD ON 12/16/20 AT 2:30 PM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn4.webp" class="img-fluid" alt="...">
      <p>Every year around this time children around the country spend many a night wishing for a snow day. 
        A day to play in the snow, sip hot chocolate and most importantly have no school. This year, like so 
        many things, even snow days will look different in most school districts.</p>
    </div>
  </div>
</body>

