<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>'I Saved a Homeless Woman From a Fire in San Antonio'</h1>
      <h6>JASON HARRIMAN ON 12/17/20 AT 5:49 AM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn2.webp" class="img-fluid" alt="...">
      <p>The morning of December 10 was just a regular day. I had a few errands to run around San Antonio, 
        and one of those involved stopping at the ATM to make a deposit. It was when I was at the ATM that I 
        started to see black smoke come up on the other side of the highway. There were a good number of cars 
        in front of me and so I watched and noticed it was getting bigger after four or five minutes.</p>
    </div>
  </div>
</body>

