<body>
  <div class="news-header">
    <div class="news-header-inner">
      <h1>'I'm 13. I've Raised Thousands To Help Homeless Kids This Christmas'</h1>
      <h6>JAXSON TURNER ON 12/16/20 AT 5:24 AM EST</h6>
    </div>
  </div>
  <div class="container news-detail">
    <div class="news-detail-inner">
      <img src="img/my-turn3.png" class="img-fluid" alt="...">
      <p>.I'm 13 and I was born and raised in Plano, Texas and I go to Renner Middle School here in town. 
        When I was about to turn 11, my mom kept asking me over and over what I wanted to do for my birthday 
        and I finally decided I wanted to help feed the homeless. I remember mom asked me if I wanted to serve 
        sandwiches and chips and I explained that I would like to give people an Easter dinner. From there, we 
        contacted many homeless shelters and Dallas Life Homeless Shelter responded. They let us know that they 
        had around 250 people we could help.</p>
    </div>
  </div>
</body>

